@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .glass {
    @apply bg-white backdrop-blur-xl border border-gray-200 shadow-sm;
  }
  
  .glass-hover {
    @apply hover:bg-gray-50 transition-all duration-300;
  }
}
